---
import Layout from "../layouts/Layout.astro";
import { HEAD_TITLE } from "../const";
---

<Layout title={`${HEAD_TITLE} | Unidades Temáticas`}>
  <header class="w-full py-9 bg-[#172046] fixed"></header>
  <div class="grid place-content-center h-screen">
    <h2 class="text-4xl">hola soy cursos!</h2>
  </div>
</Layout>
