---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carlos Lambarri" />
<section>
	<h2 class="text-6xl">aca empezamos</h2>
	<p class="font-michroma text-blue-500">deseenme suerte!</p>
</section>
<style></style>
