---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carlos Lambarri">
	<main class="lg:pl-24 xl:pl-52">
		<p class="text-white text-2xl font-semibold">
			<span class="text-blue-500">Carlos.</span>
			<span>Lambarri.</span>
		</p>
		<h2 class="text-6xl text-white w-96 font-semibold lg:text-7xl xl:text-8xl">
			Sitio en contrucción
		</h2>
		<h4 class="font-mich text-xl text-blue-500 mt-4 lg:text-2xl xl:text-4xl">
			próximamente
		</h4>
	</main>
</Layout>
