---
import Layout from "../layouts/Layout.astro";
import { HEAD_TITLE } from "../const";
---

<Layout title={`${HEAD_TITLE} | sobre mi`} />

<div class="grid place-content-center h-screen">
  <h2 class="text-4xl">hola soy sobre mi!</h2>
</div>
