---
const { currentPath } = Astro.props;

import { NAVLINKS } from "../const";
---

<div class="hidden lg:block">
  <ul class="flex items-center text-md gap-x-10 xl:text-lg 2xl:gap-x-14">
    {
      Object.entries(NAVLINKS).map(([path, link]) => {
        const isActive = currentPath === link.href;
        // const activeStyles = isActive ? "font-bold text-blue-500" : "";
        return (
          <li>
            <a class={isActive ? "isActive" : ""} href={path}>
              {link.title}
            </a>
          </li>
        );
      })
    }

    <li><a class="border border-blue-500 px-2 py-2" href="#">CONTACTO</a></li>
  </ul>
</div>
