<div
  class="bg-[url('/fondo1.avif')] bg-center py-20 lg:py-32 2xl:py-52 bg-cover relative isolate"
>
  <div class="bg-slate-700/80 absolute inset-0 -z-10"></div>
  <p
    class="text-center text-white font-bold text-lg md:text-xl px-3 md:px-5 lg:text-2xl lg:px-20 xl:text-3xl xl:leading-10 2xl:text-5xl 2xl:leading-[80px] 2xl:max-w-[1750px] mx-auto"
  >
    Eleve el nivel de su universidad con cursos diseñados por un consultor con
    trayectoria internacional en las temáticas y tendencias que requieren las
    organizaciones modernas.
  </p>
</div>
