<div class="py-10 lg:py-28 2xl:py-52">
  <p
    class="text-center text-gray-600 font-normal leading-10 text-sm md:text-xl md:leading-[2.5rem] lg:leading-[3.5rem] px-5 md:px-5 lg:text-2xl lg:px-20 xl:text-3xl xl:leading-[4rem] 2xl:text-5xl 2xl:leading-[100px] 2xl:max-w-[1950px] mx-auto"
  >
    Eleve el <span class="subrayado font-semibold text-sky-500">nivel</span>
    de su <span class="subrayado font-semibold text-sky-500">universidad</span>
    con cursos diseñados por un consultor con trayectoria internacional en las temáticas
    y tendencias que requieren las organizaciones <span
      class="subrayado font-semibold text-sky-500">modernas</span
    >.
  </p>
</div>

<script></script>
