---
const { size, responsive } = Astro.props;
---

<a href="/">
  <p
    class=`font-semibold text-${size} ${responsive ? 'lg:text-xl xl:text-2xl' : ''}`
  >
    <span class="text-blue-500">Carlos.</span>
    <span class="text-white">Lambarri.</span>
  </p>
</a>
