---
const { size, responsive } = Astro.props;
---

<p class=`font-semibold text-${size} ${responsive ? 'lg:text-xl' : ''}`>
  <span class="text-blue-500">Carlos.</span>
  <span class="text-white">Lambarri.</span>
</p>
