---
import PcSVG from "./icons/PcSVG.astro";
---

<section id="me" class="py-14 xl:pb-52">
  <PcSVG classname="w-72 mx-auto mb-16 md:w-80 lg:w-96 lg:mt-20 xl:w-[500px]" />
  <div
    class="w-full text-center text-slate-700 max-w-2xl mx-auto lg:mt-24 lg:max-w-5xl"
  >
    <p
      class="px-6 md:text-base leading-9 md:leading-10 2xl:text-xl 2xl:leading-[55px]"
    >
      El ing. Carlos A. Lambarri De Luca, con una trayectoria de más de 50 años
      en el campo de las tecnologías de la información, exconsultor de Naciones
      Unidas, los invita a conocer sus <span class="font-bold">
        +280 cursos de extensión universitaria en constante actualización
      </span> especializados en los Sistemas Modernos de Toma de Decisiones como
      son los Sistemas de Inteligencia de Negocios, la Tecnología de Big Data, los
      Sistemas de Analítica, la Tecnología de Inteligencia Artificial y la Gestión
      de los Proyectos, entre otros.
    </p>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 mt-32 gap-x-2 lg:gap-x-10 bg-gradient-to-tr from-sky-700 to-blue-900"
  >
    <article
      class="text-center text-sm px-5 md:text-sm md:leading-8 lg:text-base lg:leading-8 xl:text-lg md:text-right flex flex-col max-w-2xl self-center justify-self-end py-8 md:px-5 lg:p-10 leading-10 text-white"
    >
      <!-- <p>1</p> -->
      <p class="mb-5 lg:mb-10">
        Dentro del campo de las tecnologías de la Información se han
        desarrollado en los últimos tiempos ciertas tecnologías, herramientas de
        software, investigaciones para optimizar el proceso de toma de
        decisiones en las Organizaciones.
      </p>

      <p class="mb-5 lg:mb-10">
        Después de una trayectoria profesional de 50 años en TI y de más de 30
        años especializándome con los DSS (Decision Support Systems) presento a
        Uds. el siguiente <span class="font-bold text-sky-300"
          >PROYECTO DE CURSOS DE EXTENSIÓN UNIVERSITARIA</span
        >.
      </p>

      <p>
        El proyecto se centra en investigar y profundizar aspectos que hacen a
        los: Sistemas de Inteligencia (Business Intelligence), Analìtica
        predictiva o Business Analytics, Tecnología de Big Data, Tecnologías de
        Data Warehousing, Data Lakes, Data mining y Proyect Management
      </p>
    </article>
    <div class="bg-slate-400 hidden md:grid grid-cols-1 xl:grid-cols-2">
      <div class="bg-teal-400 bg-[url('me.jpg')] bg-no-repeat bg-cover"></div>
      <div class="hidden xl:block bg-gradient-to-tr from-blue-900 to-sky-500">
      </div>
    </div>
  </div>

  <style></style>
</section>
