---
import ProyectSVG from "./icons/ProyectSVG.astro";
---

<section id="proyecto" class="bg-white w-screen pb-16 2xl:pb-24">
  <ProyectSVG
    classname="mx-auto mt-16 md:w-44 md:mt-24 w-36 lg:w-52 lg:mt-32 2xl:w-80 2xl:mt-60 2xl:mb-10 "
  />
  <div class="mx-auto w-max pt-12 mb-10 lg:mb-20 xl:mb-28 2xl:mb-52">
    <p
      class="font-semibold text-slate-400 text-xl md:text-2xl xl:text-3xl 2xl:text-4xl"
    >
      Como es el
    </p>
    <h2
      class="text-4xl font-bold text-blue-950 tracking-tight md:text-5xl xl:text-6xl lg:tracking-normal 2xl:text-7xl"
    >
      Proyecto de los cursos
    </h2>
  </div>

  <div
    class="block md:flex md:gap-x-5 mx-auto w-screen md:h-[590px] lg:h-[560px] xl:h-[500px] 2xl:h-[800px] bg-transparent md:bg-slate-100"
  >
    <div
      class="text-sm text-center md:text-right leading-8 text-slate-500 px-3 max-w-4xl mx-auto lg:ml-auto lg:mr-0 md:pl-10 md:pt-10 lg:text-base lg:leading-[44px] lg:py-5 2xl:text-xl 2xl:leading-[60px] 2xl:p-5 md:w-1/2 2xl:pt-20 2xl:pr-20"
    >
      <p>
        Se estructura en <span class="text-blue-500 font-semibold"
          >38 unidades temáticas</span
        > que engloban <span class="text-blue-500 font-semibold"
          >280 cursos</span
        >, con más de <span class="text-blue-500 font-semibold"
          >110 mil proyecciones</span
        >, más de <span class="text-blue-500 font-semibold">
          1800 horas de cátedra
        </span> y una variedad de datos e información para cada capitulo de cada
        curso. Son 280 cursos diseñados, estudiados y actualizados para el conocimiento
        de los alumnos en vuestas carreras de Management y de Sistemas de Información.
      </p>
      <p>
        a actualización de los mismos es constante y se basa en la investigación
        y estudio de más de 68 fuentes de información mundiales especializadas.
        Deseo que puedan interiorizarse de mi propuesta y quedo desde ya a su
        entera disposición para cualquier aclaración. Muchas gracias
      </p>
    </div>

    <div class="hidden md:block w-1/2 relative">
      <div class="absolute inset-0 bg-blue-800 mix-blend-screen"></div>
      <img
        class="w-full h-full object-cover object-left"
        src="/imagen2.jpg"
        alt="imagen de proyecto de cursos por Carlos Lambarri"
        loading="lazy"
      />
    </div>
  </div>
  <a
    class="font-bold text-lg mt-20 px-4 py-2 block w-max mx-auto border border-blue-500 text-blue-600 lg:mt-28 2xl:text-2xl"
    href="/contacto">CONTACTO</a
  >
</section>
