<div
  id="sizes"
  class="fixed bottom-5 left-5 p-5 bg-black/20 rounded text-white w-24 text-center z-50"
>
  <p class="md:hidden">sm</p>
  <p class="hidden md:max-lg:block">md</p>
  <p class="hidden lg:max-xl:block">lg</p>
  <p class="hidden xl:max-2xl:block">xl</p>
  <p class="hidden 2xl:block">2xl</p>
</div>
