---
import BAicon from "./icons/BAicon.astro";
import BDicon from "./icons/BDicon.astro";
import BIicon from "./icons/BIicon.astro";
import PMicon from "./icons/PMicon.astro";

import UnidadesCard from "./UnidadesCard.astro";
---

<section id="unidades" class="bg-white py-20 md:py-32 xl:py-52 w-screen">
  <div class="mx-auto w-max py-12 mb-10 lg:mb-20 xl:mb-28">
    <p
      class="font-semibold text-slate-400 text-xl md:text-2xl xl:text-3xl 2xl:text-4xl"
    >
      Más de 30
    </p>
    <h2
      class="text-4xl font-bold text-blue-950 tracking-tight md:text-5xl xl:text-6xl lg:tracking-normal 2xl:text-7xl"
    >
      Unidades temáticas
    </h2>
    <small
      class="text-slate-400 text-xs lg:text-base 2xl:text-lg mt-2 xl:mt-5 block"
      >basadas en</small
    >
  </div>

  <div
    class="w-10/12 mx-auto grid grid-cols-2 gap-y-7 md:h-96 md:w-3/5 lg:w-11/12 lg:grid-cols-4 lg:h-44 xl:max-w-5xl 2xl:max-w-6xl 2xl:h-52"
  >
    <UnidadesCard tema="Business Analytics" Icon={BAicon} />
    <UnidadesCard tema="Big Data" Icon={BDicon} />
    <UnidadesCard tema="Business Intelligence" Icon={BIicon} />
    <UnidadesCard tema="Proyect Managment" Icon={PMicon} />
  </div>
</section>
