---
import UnidadesCard from "./UnidadesCard.astro";
---

<section id="unidades" class="bg-white pb-20 md:pb-32 xl:pb-52 w-screen">
  <div class="mx-auto w-max py-12 mb-10 lg:mb-20 xl:mb-28">
    <p
      class="font-semibold text-slate-400 text-xl md:text-2xl xl:text-3xl 2xl:text-4xl"
    >
      Más de 30
    </p>
    <h2
      class="text-4xl font-bold text-blue-950 tracking-tight md:text-5xl xl:text-6xl lg:tracking-normal 2xl:text-7xl"
    >
      Unidades temáticas
    </h2>
    <small
      class="text-slate-400 text-sm lg:text-base 2xl:text-lg mt-2 xl:mt-5 block"
      >basadas en</small
    >
  </div>

  <div
    class="w-10/12 mx-auto grid grid-cols-2 md:grid-cols-autoFit gap-4 lg:gap-7 xl:gap-10 max-w-screen-2xl"
  >
    <a href="/cursos">
      <UnidadesCard tema="Business Analytics" imagen="/BA.avif" />
    </a>
    <a href="/cursos">
      <UnidadesCard tema="Big Data" imagen="/BD.avif" />
    </a>
    <a href="/cursos">
      <UnidadesCard tema="Business Intelligence" imagen="/BI.avif" />
    </a>
    <a href="/cursos">
      <UnidadesCard tema="Project Management" imagen="PM.avif" />
    </a>
  </div>
</section>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>
