---
const { classname } = Astro.props;
---

<svg
  class={classname}
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 100 125"
  x="0px"
  y="0px"
  ><title>Arrows</title><path d="M64.48,52L38.39,78l-2.87-2.87,26.09-26Z"
  ></path><path d="M64.48,51.53l-2.87,2.87-26.09-26,2.87-2.87Z"></path>
</svg>
