---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Michroma&family=Poppins:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="font-poppins bg-[url('/back.webp')] w-screen h-screen bg-cover bg-no-repeat bg-top"
	>
		<div class="hero w-screen h-screen bg-[#061858]/70 flex items-center">
			<slot />
		</div>
	</body>
</html>
<style></style>
<style is:global></style>
